* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

header {
    background-color: #1F2937;
    padding: 16px 0px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    font-size: 24px;
    color: #f9faf8
}

.nav-list {
    display: flex;
    justify-self: center;
    gap: 20px;
}

.nav-list a {
    color: #e5e7eb;
    font-size: 18px;
}

main {
    flex: 1;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 13%;
    height: 50vh
}

.hero img {
    width: 50%;
}
.hero-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero-content h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 16px;
}

.hero-content p {
    width: 90%;
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
    margin-bottom: 26px;
    text-wrap: wrap;
}

.hero-content a {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}
.features {
    padding: 0 12%;
}
.features-title {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 50px 0;
}

.feature-icon {
    width: 100px;
    height: 100px;
    border: 3px #3882f6 solid;
    border-radius: 20%;
    margin-bottom: 15px;
}

.features-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature p {
    color: #1f2937E0;
}

.quotes {
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: italic;
    font-size: 30px;
    font-weight: lighter;
    padding: 120px 13%;
    margin: 50px 0;
}

.quote-auther {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
}

.cta {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    margin: 75px;
    padding: 40px 60px;
}

.cta h2 {
    font-size: 30px;
    font-weight: 900;
}

.cta p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 26px;
}

.cta-buttons {
    text-align: right;
}

.cta a {    
    color: #f9faf8;
    padding: 10px 20px;
    border: 2px #f9faf8 solid;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}

footer {
    background-color: #1F2937;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}